CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_COMPILER_CXX_EXCEPTIONS=n
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
# CONFIG_ESP_SYSTEM_MEMPROT_FEATURE is not set

CONFIG_WAMR_BUILD_RELEASE=y
# CONFIG_WAMR_ENABLE_AOT is not set
CONFIG_WAMR_ENABLE_INTERP=y
CONFIG_WAMR_INTERP_FAST=y
CONFIG_WAMR_INTERP_LOADER_NORMAL=y
# CONFIG_WAMR_ENABLE_LIB_PTHREAD is not set
# CONFIG_WAMR_ENABLE_LIBC_BUILTIN is not set
# CONFIG_WAMR_ENABLE_LIBC_WASI is not set
# CONFIG_WAMR_ENABLE_APP_FRAMEWORK is not set
